name: CI/CD Pipeline ecommerce

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: docker.io
  FRONT_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/frontend
  BACK_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/backend
  NAMESPACE: app-demo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push FRONTEND image
        uses: docker/build-push-action@v5
        with:
          context: ./client
          push: true
          tags: ${{ env.FRONT_IMAGE }}:v2

      - name: Build and push BACKEND image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ env.BACK_IMAGE }}:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubectl access
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/ -n ${{ env.NAMESPACE }}
          kubectl rollout restart deployment backend -n ${{ env.NAMESPACE }}
          kubectl rollout restart deployment frontend -n ${{ env.NAMESPACE }}
